@import "../../theme-variables";

.btn {
  cursor: pointer;
  padding: 6px 12px;
  color: $white;
  background-color: $black;
  border: none !important;
  box-shadow: none !important;
  border-radius: 6px;
  font-size: 12px;
  display: inline-block;

  &.btn-lg {
    min-width: 250px;
    font-size: 16px;
    padding: 10px 12px;
  }

  &.btn-primary {
    background-color: $primary;
  }

  &.btn-secondary {
    color: $white;
    background-color: $black;
  }
  &.btn-no-theme {
    background-color: $white;
    color: $grey;
    border: 1px solid $grey !important;
  }

  &:not(:last-of-type) {
    margin-right: 5px;
  }

  &.btn-disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
