@import "../../theme-variables";
.navbar-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 12px 15px;
  border-radius: 4px;
  box-shadow: -2px 2px 9px -1px rgba(36, 36, 36, 0.66);
  margin: 0 0 20px;
  &.navbar-light {
    background-color: $white;
  }
  &.navbar-dark {
    background-color: $black;
    color: $white;
  }
  &.navbar-links-right {
    justify-content: space-between;
  }
  .navbar-logo {
    margin-right: 20px;
  }
  .navbar-links {
    a {
      color: $grey;
      text-decoration: none;
      margin: 0 5px;
      &.active {
        color: $primary;
      }
    }
  }
}
